.user {
    margin-top: 10px;
    margin-left: 20px;
}

.search {
    background-color: #3e3e3e;
    background-size: 100% 100%;
    height: 70px;
}

.search input{
    margin-right: 20px;
    vertical-align: middle;
}

.logo {
    float: left;
    color: #ffffff;
    line-height: 70px;
    margin-left: 10%;
    background-color: #3E3E3E;
    font-size: 30px;
}

.top ul{
    width: 100%;
}

.top ul li{
    width: 33.33%;
    text-align: center;
    height: 50px;
}

.top ul li a{
    background-color: darkgrey;

}

.top ul li a img{
    width: 30px;
}

.top ul li a:hover{
    color: #9DBFF6;
    background: #3e3e3e;
}

.editText {
    width: 200px;
    height: 30px;
    solid-color: transparent;
    border: inset #9DBFF6 1px;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px;
}

.button {
    width: 50px;
    height: 30px;
    border: outset 2px;
    border-radius: 5px;
}

.buttonPressed {
    width: 50px;
    height: 30px;
    border: inset 2px;
    border-radius: 5px;
    margin-right: 10px;
}

.divMainFrame{
    position: relative;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

.usernameText{
    width: 210px;
    height: 25px;
    solid-color: transparent;
    border: inset #9DBFF6 1px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 35%;
    margin-top: 8%;
}

.passwordText{
    width: 210px;
    height: 25px;
    solid-color: transparent;
    border: inset #9DBFF6 1px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 35%;
    margin-top: 5%;
}

.innerButton{
    width: 100px;
    height: 40px;
    border: outset 2px;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 42%;
}

#mask{
    background: #000000;
    opacity:0.75;
    filter:alpha(opacity=75);
    height:1000px;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
}

#login{
    position:fixed;
    left:25%;
    top:30%;
    z-index:1001;
}

.loginCon{
    width:670px;
    height:380px;
    background:url("../images/login.jpg") no-repeat;
    position:relative;
}

.registerCon{
    width:670px;
    height:380px;
    background:url("../images/Regist.jpg") no-repeat;
    position:relative;
}

#hid{
    width: auto;
    height: auto;
    font-size: 18px;
}

#close{
    width:30px;
    height:30px;
    background:url("../images/close.png") no-repeat;
    cursor:pointer;
    position:absolute;
    right:5px;
    top:5px;
}



